.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  margin-top: 20px;
  align-items: center;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/proxy/a8GAH4ZePOd5tNEQe5-9PCBzRkNgDsci7qqQ_jL4_C3MrqAxV-cixo5sMp7IZTdiFecqlug014tTbp1uc9YsLvC9EFnwIcfS5p72OheY-NfvbIMXvPYDTT1F7I801VxLV8FpKZT0mEO5VAWF");
}
